.cabecalho__menu__hamburguer {
  width: 24px;
  height: 24px;
  background-image: url(../imagens/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.cabecalho {
  background-color: var(--cor-branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  padding: 1em 2em;
}

.container__image {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
  background-color: var(--cor-branco);
}

.container__btn:checked ~ .lista-menu {
  background: var(--cor-azul-degrade);
  display: block;
  cursor: pointer;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--cor-branco);
}

.lista-menu__titulo {
  color: var(--cor-laranja);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--cor-azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}
.lista-menu__item:hover {
  background: var(--cor-azul-degrade);
}
.lista-menu__link:hover {
  background: var(--cor-branco);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__btn {
  display: none;
}

.container__title {
  display: none;
}

.opt {
  display: none;
}
.container__text {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container__title,
  .container__title--negrito {
    font-family: var(--font-jose);
    font-size: 30px;
  }
  .container__title {
    font-weight: 400;
    display: block;
  }
  .container__title--negrito {
    font-size: 700;
  }
  .opt {
    display: flex;
  }

  .opt__item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .opt__link {
    text-decoration: none;
    color: var(--cor-black);
  }
  .coracao {
    display: none;
  }

  .cabecalho__menu__hamburguer {
    display: none;
  }

  .opt__btn {
    display: none;
  }

  .opt__btn:checked ~ .lista-menu {
    display: block;
    width: auto;
    background-color: var(--cor-branco);
  }
  .container__btn:checked {
    background: var(--cor-azul-degrade);
  }
}

@media screen and (min-width: 1728px) {
  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-black);
  }

  .cabecalho {
    padding: 0 2em;
  }

  .opt {
    margin-right: auto;
  }
  .container__text {
    display: block;
  }
}
