@import url(../styles/vars.css);
@import url(../styles/banner.css);
@import url(../styles/carrossel.css);
@import url(./topic.css);
@import url(../styles/contact.css);
@import url(../styles/footer.css);

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
}
