@import url(../styles/header.css);

:root {
  /* COLOR */

  --cor-de-fundo: #ebecee;
  --cor-branco: #ffffff;
  --cor-laranja: #eb9b00;
  --cor-azul-degrade: linear-gradient(
    97.54deg,
    #002f52 35.49%,
    #326589 165.37%
  );
}
